In [1]:
import pandas as pd
import matplotlib as plt 
import numpy as np

In [2]:
df=pd.read_csv('ECD Prediction Data.csv')
df

,Depth (m),M.W (ppg),PV (cp),YP (lbs/100ft2),FLOW (gal/min),RPM,WOB (kips),TFA (inches2),ECD (ppg),Section,Unnamed: 10,Unnamed: 11
0,75,9.0,12,14,670,45,2.0,1.203,9.33,1,NaN,NaN
1,150,9.1,13,15,680,45,3.0,1.203,9.48,1,NaN,NaN
2,225,9.3,14,16,680,45,3.0,1.203,9.63,1,NaN,NaN
3,300,9.4,14,16,690,45,4.0,1.203,9.78,1,NaN,NaN
4,375,9.6,15,17,690,45,4.0,1.203,9.93,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1254,3600,11.2,40,19,245,100,21.0,0.464,12.29,3,NaN,NaN
1255,3675,11.2,40,19,245,100,21.0,0.464,12.32,3,NaN,NaN
1256,3750,11.3,41,20,245,100,22.0,0.464,12.34,3,NaN,NaN
1257,3825,11.4,42,21,245,100,23.0,0.464,12.36,3,NaN,NaN
1258,3900,11.5,42,21,245,100,23.0,0.464,12.39,3,NaN,NaN

In [3]:
df.drop(['Unnamed: 10','Unnamed: 11'], axis=1,inplace=True)
df

,Depth (m),M.W (ppg),PV (cp),YP (lbs/100ft2),FLOW (gal/min),RPM,WOB (kips),TFA (inches2),ECD (ppg),Section
0,75,9.0,12,14,670,45,2.0,1.203,9.33,1
1,150,9.1,13,15,680,45,3.0,1.203,9.48,1
2,225,9.3,14,16,680,45,3.0,1.203,9.63,1
3,300,9.4,14,16,690,45,4.0,1.203,9.78,1
4,375,9.6,15,17,690,45,4.0,1.203,9.93,1
...,...,...,...,...,...,...,...,...,...,...
1254,3600,11.2,40,19,245,100,21.0,0.464,12.29,3
1255,3675,11.2,40,19,245,100,21.0,0.464,12.32,3
1256,3750,11.3,41,20,245,100,22.0,0.464,12.34,3
1257,3825,11.4,42,21,245,100,23.0,0.464,12.36,3
1258,3900,11.5,42,21,245,100,23.0,0.464,12.39,3

In [4]:
x=df.drop('ECD (ppg)',axis=1)
y=df['ECD (ppg)']

In [5]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2)

In [6]:
from sklearn import linear_model
model=linear_model.LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [7]:
y_predicted=model.predict(x_test)
y_predicted

array([12.10481401, 12.42729015, 10.75323916, 10.95782264, 12.04903155,
       11.91857583, 11.52840684, 11.89737286, 10.63896791, 11.11194322,
       11.28738487,  9.73962539, 10.05514346, 11.35276973, 11.28276985,
       10.27973614, 11.67420514, 11.35276973, 10.83459258, 10.68017916,
       11.51991663, 11.65406982, 12.34956435, 10.07565933, 11.44769914,
       10.18929665, 12.45000207, 11.35276973, 11.28761425, 12.5039864 ,
       12.81886092, 11.45397194, 11.20132339, 11.36560889, 12.60261329,
       10.08322977, 12.24989201, 10.41930517,  9.98037543, 12.35137519,
        9.73962539,  9.16406108, 11.96914728, 11.99193589, 10.85950956,
       11.8611238 , 11.59750466, 11.47772976, 11.16074001, 11.09013109,
       10.27973614, 11.81595879, 11.79254265, 11.39235899, 10.88732518,
       11.40256052, 11.78567247, 11.37160023, 11.21128231, 10.96312389,
       12.17882146, 11.37152377, 11.86725753, 11.90680501, 10.41930517,
       11.36703422, 11.28654378, 11.64696405, 10.88625471, 11.31724343,
       11.38139674, 11.55004829, 11.06050008, 11.65406982,  9.39186257,
       12.39624262, 12.6779724 , 12.66151133, 11.45511888, 12.91557483,
        9.39186257, 11.77867299, 12.60345438, 10.88625471, 10.9507885 ,
       12.67881349, 11.81358846, 11.34332932, 10.72570993, 12.34953788,
       11.47324048, 12.34664833, 11.55119523,  9.63261261, 12.60368376,
       10.50481472,  9.28869908, 12.13181605, 11.18184909, 10.70574318,
       10.88746881, 11.46530625, 12.46328186, 11.51991663, 12.83300755,
       11.24215189, 11.18307249,  9.95011674, 11.85382246, 12.85695237,
       12.71035708, 11.79609008, 11.38116735, 12.2657869 , 12.74988404,
       11.78651355, 12.17085749, 12.65239443, 11.27225773, 11.46530625,
       11.76181361, 11.3692299 , 12.04743001, 10.96241038, 11.02555653,
       11.28160988, 12.80783104, 10.88625471, 12.36572544, 11.86148018,
       12.43431346,  9.39186257, 11.56539088, 11.45511888, 12.38519213,
       12.80783104, 11.05728866, 12.1549626 , 11.08691968, 11.37152377,
       11.46530625, 12.59373757, 11.48983895, 12.70255183, 12.3419871 ,
       11.27210481, 11.43147647, 10.96725335, 11.68000175,  9.22684096,
       10.9507885 , 11.15970972, 12.61427474, 11.26431926, 12.08798659,
       11.30876227, 11.03132104, 11.1866935 , 12.58045779, 12.09494253,
       12.5039864 , 11.6089312 , 11.30884035, 12.06157719, 11.26431926,
       11.28254046, 10.63896791, 10.41019186, 12.24336021, 11.24502594,
       12.09494253, 11.25469917, 11.71559036, 11.76181361, 11.18898737,
        9.73962539, 11.45626581, 12.54835777, 11.65514029, 11.59750466,
       11.0886642 , 12.34719402, 10.9507885 , 11.91023129, 11.760996  ,
       12.13569288, 10.50481472, 11.62703372, 11.66644358, 11.52611297,
       11.35195212,  9.98037543, 11.44769914, 10.98583582, 11.02726669,
       11.87497618, 11.33908729, 11.47324048, 11.92133968, 12.83193708,
       12.95416104, 11.57487081, 11.24645594, 10.27973614, 11.45467893,
       10.50481472, 11.58092495, 12.14820141, 11.46301238, 11.0052281 ,
       12.3569057 , 11.27210481, 11.40263698, 12.08442996, 12.07128887,
       12.23526973, 12.06300645, 10.61625114, 11.8900226 , 12.5039864 ,
       10.63896791, 11.81813621, 11.637028  , 11.96664778, 11.53693186,
       10.95690284,  8.98976618,  9.98037543, 12.16364488, 11.24586702,
        9.16406108, 11.91023129,  9.16406108,  9.7093667 , 12.8235017 ,
       10.9939985 , 11.90546334, 11.00312896,  9.29821427, 11.86241313,
       11.36560889, 12.06395478, 11.27932905, 10.8418841 , 11.98596308,
       10.48238781, 11.51991663, 13.02502797, 10.59155674, 11.85674302,
       11.12962784, 10.62446521])

In [8]:
y_test

726    12.06
83     12.38
111    10.75
487    10.88
524    12.17
       ...
289    12.95
809    10.53
878    11.91
114    11.18
209    10.71
Name: ECD (ppg), Length: 252, dtype: float64

In [9]:
score=model.score(x_test,y_test)*100
score

98.7645654307948

In [10]:
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier

In [34]:
import pandas as pd
df0=pd.read_excel('ECDSVM.xlsx')
df0.head()

,Depth (m),M.W (ppg),PV (cp),YP (lbs/100ft2),FLOW (gal/min),RPM,WOB (kips),TFA (inches2),ECD (ppg),Section,Complication,Problems,ECD Diff,result,ECD Diff.1
0,75,9.00,12.0,14.00,670,45,2.0,1.203,9.33,1,NaN,No losses,NaN,0,0.33
1,150,9.14,12.8,14.78,680,45,2.6,1.203,9.48,1,NaN,No losses,NaN,0,0.34
2,225,9.29,13.6,15.56,680,45,3.2,1.203,9.63,1,NaN,No losses,NaN,0,0.34
3,300,9.44,14.4,16.34,690,45,3.8,1.203,9.78,1,NaN,No losses,NaN,0,0.34
4,375,9.59,15.2,17.12,690,45,4.4,1.203,9.93,1,NaN,No losses,NaN,0,0.34

In [13]:
x=df0.drop(['Complication','Problems','ECD Diff','result'],axis=1)
x

,Depth (m),M.W (ppg),PV (cp),YP (lbs/100ft2),FLOW (gal/min),RPM,WOB (kips),TFA (inches2),ECD (ppg),Section,ECD Diff.1
0,75,9.0000,12.0,14.00,670,45,2.0,1.203,9.330,1,0.3300
1,150,9.1400,12.8,14.78,680,45,2.6,1.203,9.480,1,0.3400
2,225,9.2900,13.6,15.56,680,45,3.2,1.203,9.630,1,0.3400
3,300,9.4400,14.4,16.34,690,45,3.8,1.203,9.780,1,0.3400
4,375,9.5900,15.2,17.12,690,45,4.4,1.203,9.930,1,0.3400
...,...,...,...,...,...,...,...,...,...,...,...
1254,3600,11.1664,39.6,18.80,245,100,20.8,0.464,12.292,3,1.1256
1255,3675,11.2497,40.3,19.40,245,100,21.4,0.464,12.316,3,1.0663
1256,3750,11.3330,41.0,20.00,245,100,22.0,0.464,12.340,3,1.0070
1257,3825,11.4163,41.7,20.60,245,100,22.6,0.464,12.364,3,0.9477
1258,3900,11.4996,42.4,21.20,245,100,23.2,0.464,12.388,3,0.8884

In [14]:
y=df0['result']
y

0       0
1       0
2       0
3       0
4       0
       ..
1254    1
1255    1
1256    1
1257    1
1258    1
Name: result, Length: 1259, dtype: int64

In [24]:

model_params = {
    'svm': {
        'model': svm.SVC(gamma='auto'),
        'params' : {
            'C': [1,10,20],
            'kernel': ['rbf','linear']
        }  
    },
    'random_forest': {
        'model': RandomForestClassifier(),
        'params' : {
            'n_estimators': [1,5,10]
        }
    },
    'logistic_regression' : {
        'model': LogisticRegression(solver='liblinear',multi_class='auto'),
        'params': {
            'C': [1,5,10]
        }
    },
    'naive_bayes_gaussian': {
        'model': GaussianNB(),
        'params': {}
    },
    'naive_bayes_multinomial': {
        'model': MultinomialNB(),
        'params': {}
    },
    'decision_tree': {
        'model': DecisionTreeClassifier(),
        'params': {
            'criterion': ['gini','entropy'],
            
        }
    }     
}

In [25]:
from sklearn.model_selection import GridSearchCV
import pandas as pd
scores = []

for model_name, mp in model_params.items():
    clf =  GridSearchCV(mp['model'], mp['params'], cv=5, return_train_score=False)
    clf.fit(x, y)
    scores.append({
        'model': model_name,
        'best_score': clf.best_score_,
        'best_params': clf.best_params_
    })
    
df = pd.DataFrame(scores,columns=['model','best_score','best_params'])
df

                     model  best_score                    best_params
0                      svm    0.991257  {'C': 20, 'kernel': 'linear'}
1            random_forest    0.972134            {'n_estimators': 5}
2      logistic_regression    0.936445                       {'C': 5}
3     naive_bayes_gaussian    0.772728                             {}
4  naive_bayes_multinomial    0.590011                             {}
5            decision_tree    0.982502          {'criterion': 'gini'}

In [35]:
sec1=df0[df0['Section']==1]
sec1

,Depth (m),M.W (ppg),PV (cp),YP (lbs/100ft2),FLOW (gal/min),RPM,WOB (kips),TFA (inches2),ECD (ppg),Section,Complication,Problems,ECD Diff,result,ECD Diff.1
0,75,9.0000,12.0,14.00,670,45,2.000,1.203,9.3300,1,NaN,No losses,NaN,0,0.3300
1,150,9.1400,12.8,14.78,680,45,2.600,1.203,9.4800,1,NaN,No losses,NaN,0,0.3400
2,225,9.2900,13.6,15.56,680,45,3.200,1.203,9.6300,1,NaN,No losses,NaN,0,0.3400
3,300,9.4400,14.4,16.34,690,45,3.800,1.203,9.7800,1,NaN,No losses,NaN,0,0.3400
4,375,9.5900,15.2,17.12,690,45,4.400,1.203,9.9300,1,NaN,No losses,NaN,0,0.3400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1217,825,10.9280,32.0,27.70,750,90,11.280,1.138,11.6470,1,NaN,Losses during drilling & Hard back reaming dur...,NaN,1,0.7190
1218,900,11.0208,33.5,28.77,750,90,12.208,1.138,11.7627,1,NaN,Losses during drilling & Hard back reaming dur...,NaN,1,0.7419
1219,975,11.1136,35.0,29.84,750,90,13.136,1.138,11.8784,1,NaN,Losses during drilling & Hard back reaming dur...,NaN,1,0.7648
1220,1050,11.2064,36.5,30.91,750,90,14.064,1.138,11.9941,1,NaN,Losses during drilling & Hard back reaming dur...,NaN,1,0.7877
1221,1125,11.2992,38.0,31.98,750,90,14.992,1.138,12.1098,1,NaN,Losses during drilling & Hard back reaming dur...,NaN,1,0.8106

In [36]:
sec2=df0[df0['Section']==2]
sec2

,Depth (m),M.W (ppg),PV (cp),YP (lbs/100ft2),FLOW (gal/min),RPM,WOB (kips),TFA (inches2),ECD (ppg),Section,Complication,Problems,ECD Diff,result,ECD Diff.1
15,1200,11.000,22.000,13.000,375,90,13.000,0.712,11.440,2,Downhole loss during cement job,Downhole loss during cement job,0.62,1,0.440
16,1275,11.057,22.520,13.270,380,90,13.310,0.712,11.501,2,NaN,Downhole loss during cement job,NaN,1,0.444
17,1350,11.114,23.040,13.540,470,105,13.620,0.712,11.562,2,NaN,Downhole loss during cement job,NaN,1,0.448
18,1425,11.171,23.560,13.810,470,105,13.930,0.712,11.623,2,NaN,Downhole loss during cement job,NaN,1,0.452
19,1500,11.228,24.080,14.080,470,105,14.240,0.712,11.691,2,NaN,Downhole loss during cement job,NaN,1,0.463
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1241,2625,11.911,30.246,17.123,475,105,19.327,0.712,12.487,2,NaN,No losses,NaN,0,0.576
1242,2700,11.980,30.680,17.340,475,105,19.660,0.712,12.560,2,NaN,No losses,NaN,0,0.580
1243,2775,12.049,31.114,17.557,475,105,19.993,0.712,12.633,2,NaN,No losses,NaN,0,0.584
1244,2850,12.118,31.548,17.774,475,105,20.326,0.712,12.706,2,NaN,No losses,NaN,0,0.588
1245,2925,12.187,31.982,17.991,475,105,20.659,0.712,12.779,2,NaN,No losses,NaN,0,0.592

In [49]:
sec3=df0[df0['Section']==3]
sec3

,Depth (m),M.W (ppg),PV (cp),YP (lbs/100ft2),FLOW (gal/min),RPM,WOB (kips),TFA (inches2),ECD (ppg),Section,Complication,Problems,ECD Diff,result,ECD Diff.1
38,2925,11.0000,33.0,12.0,200,90,16.0,0.464,12.100,3,"Losses during drilling, string stuck during POOH","Losses during drilling, string stuck during POOH",0.84,1,1.1000
39,3000,11.0500,33.7,12.6,210,90,16.6,0.464,12.124,3,NaN,"Losses during drilling, string stuck during POOH",NaN,1,1.0740
40,3075,11.1000,34.4,13.2,245,100,17.2,0.464,12.148,3,NaN,"Losses during drilling, string stuck during POOH",NaN,1,1.0480
41,3150,11.1500,35.1,13.8,245,100,17.8,0.464,12.172,3,NaN,"Losses during drilling, string stuck during POOH",NaN,1,1.0220
42,3225,11.2000,35.8,14.4,245,100,18.4,0.464,12.196,3,NaN,"Losses during drilling, string stuck during POOH",NaN,1,0.9960
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,3600,11.1664,39.6,18.8,245,100,20.8,0.464,12.292,3,NaN,"Losses during drilling, string stuck during POOH",NaN,1,1.1256
1255,3675,11.2497,40.3,19.4,245,100,21.4,0.464,12.316,3,NaN,"Losses during drilling, string stuck during POOH",NaN,1,1.0663
1256,3750,11.3330,41.0,20.0,245,100,22.0,0.464,12.340,3,NaN,"Losses during drilling, string stuck during POOH",NaN,1,1.0070
1257,3825,11.4163,41.7,20.6,245,100,22.6,0.464,12.364,3,NaN,"Losses during drilling, string stuck during POOH",NaN,1,0.9477
1258,3900,11.4996,42.4,21.2,245,100,23.2,0.464,12.388,3,NaN,"Losses during drilling, string stuck during POOH",NaN,1,0.8884

In [38]:
sec1.drop(['Section','Complication','Problems','ECD Diff','ECD Diff.1'], axis=1,inplace=True)
sec1

C:\Users\admin\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Depth (m),M.W (ppg),PV (cp),YP (lbs/100ft2),FLOW (gal/min),RPM,WOB (kips),TFA (inches2),ECD (ppg),result
0,75,9.0000,12.0,14.00,670,45,2.000,1.203,9.3300,0
1,150,9.1400,12.8,14.78,680,45,2.600,1.203,9.4800,0
2,225,9.2900,13.6,15.56,680,45,3.200,1.203,9.6300,0
3,300,9.4400,14.4,16.34,690,45,3.800,1.203,9.7800,0
4,375,9.5900,15.2,17.12,690,45,4.400,1.203,9.9300,0
...,...,...,...,...,...,...,...,...,...,...
1217,825,10.9280,32.0,27.70,750,90,11.280,1.138,11.6470,1
1218,900,11.0208,33.5,28.77,750,90,12.208,1.138,11.7627,1
1219,975,11.1136,35.0,29.84,750,90,13.136,1.138,11.8784,1
1220,1050,11.2064,36.5,30.91,750,90,14.064,1.138,11.9941,1
1221,1125,11.2992,38.0,31.98,750,90,14.992,1.138,12.1098,1

In [39]:
sec2.drop(['Section','Complication','Problems','ECD Diff','ECD Diff.1'], axis=1,inplace=True)
sec2

C:\Users\admin\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Depth (m),M.W (ppg),PV (cp),YP (lbs/100ft2),FLOW (gal/min),RPM,WOB (kips),TFA (inches2),ECD (ppg),result
15,1200,11.000,22.000,13.000,375,90,13.000,0.712,11.440,1
16,1275,11.057,22.520,13.270,380,90,13.310,0.712,11.501,1
17,1350,11.114,23.040,13.540,470,105,13.620,0.712,11.562,1
18,1425,11.171,23.560,13.810,470,105,13.930,0.712,11.623,1
19,1500,11.228,24.080,14.080,470,105,14.240,0.712,11.691,1
...,...,...,...,...,...,...,...,...,...,...
1241,2625,11.911,30.246,17.123,475,105,19.327,0.712,12.487,0
1242,2700,11.980,30.680,17.340,475,105,19.660,0.712,12.560,0
1243,2775,12.049,31.114,17.557,475,105,19.993,0.712,12.633,0
1244,2850,12.118,31.548,17.774,475,105,20.326,0.712,12.706,0
1245,2925,12.187,31.982,17.991,475,105,20.659,0.712,12.779,0

In [50]:
sec3.drop(['Section','Complication','Problems','ECD Diff','ECD Diff.1'], axis=1,inplace=True)
sec3

C:\Users\admin\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Depth (m),M.W (ppg),PV (cp),YP (lbs/100ft2),FLOW (gal/min),RPM,WOB (kips),TFA (inches2),ECD (ppg),result
38,2925,11.0000,33.0,12.0,200,90,16.0,0.464,12.100,1
39,3000,11.0500,33.7,12.6,210,90,16.6,0.464,12.124,1
40,3075,11.1000,34.4,13.2,245,100,17.2,0.464,12.148,1
41,3150,11.1500,35.1,13.8,245,100,17.8,0.464,12.172,1
42,3225,11.2000,35.8,14.4,245,100,18.4,0.464,12.196,1
...,...,...,...,...,...,...,...,...,...,...
1254,3600,11.1664,39.6,18.8,245,100,20.8,0.464,12.292,1
1255,3675,11.2497,40.3,19.4,245,100,21.4,0.464,12.316,1
1256,3750,11.3330,41.0,20.0,245,100,22.0,0.464,12.340,1
1257,3825,11.4163,41.7,20.6,245,100,22.6,0.464,12.364,1
1258,3900,11.4996,42.4,21.2,245,100,23.2,0.464,12.388,1

In [41]:
xsec1=sec1.drop('result',axis=1)
xsec1

,Depth (m),M.W (ppg),PV (cp),YP (lbs/100ft2),FLOW (gal/min),RPM,WOB (kips),TFA (inches2),ECD (ppg)
0,75,9.0000,12.0,14.00,670,45,2.000,1.203,9.3300
1,150,9.1400,12.8,14.78,680,45,2.600,1.203,9.4800
2,225,9.2900,13.6,15.56,680,45,3.200,1.203,9.6300
3,300,9.4400,14.4,16.34,690,45,3.800,1.203,9.7800
4,375,9.5900,15.2,17.12,690,45,4.400,1.203,9.9300
...,...,...,...,...,...,...,...,...,...
1217,825,10.9280,32.0,27.70,750,90,11.280,1.138,11.6470
1218,900,11.0208,33.5,28.77,750,90,12.208,1.138,11.7627
1219,975,11.1136,35.0,29.84,750,90,13.136,1.138,11.8784
1220,1050,11.2064,36.5,30.91,750,90,14.064,1.138,11.9941
1221,1125,11.2992,38.0,31.98,750,90,14.992,1.138,12.1098

In [42]:
ysec1=sec1['result']
ysec1

0       0
1       0
2       0
3       0
4       0
       ..
1217    1
1218    1
1219    1
1220    1
1221    1
Name: result, Length: 381, dtype: int64

In [43]:
from sklearn.model_selection import GridSearchCV
import pandas as pd
scores = []

for model_name, mp in model_params.items():
    clf =  GridSearchCV(mp['model'], mp['params'], cv=5, return_train_score=False)
    clf.fit(xsec1, ysec1)
    scores.append({
        'model': model_name,
        'best_score': clf.best_score_,
        'best_params': clf.best_params_
    })
    
df = pd.DataFrame(scores,columns=['model','best_score','best_params'])
df

                     model  best_score                    best_params
0                      svm    0.994771  {'C': 10, 'kernel': 'linear'}
1            random_forest    0.923718            {'n_estimators': 5}
2      logistic_regression    0.952666                       {'C': 1}
3     naive_bayes_gaussian    0.892276                             {}
4  naive_bayes_multinomial    0.761073                             {}
5            decision_tree    0.913192       {'criterion': 'entropy'}

In [45]:
xsec2=sec2.drop('result',axis=1)
xsec2

,Depth (m),M.W (ppg),PV (cp),YP (lbs/100ft2),FLOW (gal/min),RPM,WOB (kips),TFA (inches2),ECD (ppg)
15,1200,11.000,22.000,13.000,375,90,13.000,0.712,11.440
16,1275,11.057,22.520,13.270,380,90,13.310,0.712,11.501
17,1350,11.114,23.040,13.540,470,105,13.620,0.712,11.562
18,1425,11.171,23.560,13.810,470,105,13.930,0.712,11.623
19,1500,11.228,24.080,14.080,470,105,14.240,0.712,11.691
...,...,...,...,...,...,...,...,...,...
1241,2625,11.911,30.246,17.123,475,105,19.327,0.712,12.487
1242,2700,11.980,30.680,17.340,475,105,19.660,0.712,12.560
1243,2775,12.049,31.114,17.557,475,105,19.993,0.712,12.633
1244,2850,12.118,31.548,17.774,475,105,20.326,0.712,12.706
1245,2925,12.187,31.982,17.991,475,105,20.659,0.712,12.779

In [46]:
ysec2=sec2['result']
ysec2

15      1
16      1
17      1
18      1
19      1
       ..
1241    0
1242    0
1243    0
1244    0
1245    0
Name: result, Length: 616, dtype: int64

In [47]:
from sklearn.model_selection import GridSearchCV
import pandas as pd
scores = []

for model_name, mp in model_params.items():
    clf =  GridSearchCV(mp['model'], mp['params'], cv=5, return_train_score=False)
    clf.fit(xsec2, ysec2)
    scores.append({
        'model': model_name,
        'best_score': clf.best_score_,
        'best_params': clf.best_params_
    })
    
df = pd.DataFrame(scores,columns=['model','best_score','best_params'])
df

                     model  best_score                   best_params
0                      svm    0.957724  {'C': 1, 'kernel': 'linear'}
1            random_forest    0.967480          {'n_estimators': 10}
2      logistic_regression    0.975675                     {'C': 10}
3     naive_bayes_gaussian    0.827983                            {}
4  naive_bayes_multinomial    0.659100                            {}
5            decision_tree    0.957724         {'criterion': 'gini'}

In [51]:
xsec3=sec3.drop('result',axis=1)
xsec3

,Depth (m),M.W (ppg),PV (cp),YP (lbs/100ft2),FLOW (gal/min),RPM,WOB (kips),TFA (inches2),ECD (ppg)
38,2925,11.0000,33.0,12.0,200,90,16.0,0.464,12.100
39,3000,11.0500,33.7,12.6,210,90,16.6,0.464,12.124
40,3075,11.1000,34.4,13.2,245,100,17.2,0.464,12.148
41,3150,11.1500,35.1,13.8,245,100,17.8,0.464,12.172
42,3225,11.2000,35.8,14.4,245,100,18.4,0.464,12.196
...,...,...,...,...,...,...,...,...,...
1254,3600,11.1664,39.6,18.8,245,100,20.8,0.464,12.292
1255,3675,11.2497,40.3,19.4,245,100,21.4,0.464,12.316
1256,3750,11.3330,41.0,20.0,245,100,22.0,0.464,12.340
1257,3825,11.4163,41.7,20.6,245,100,22.6,0.464,12.364
1258,3900,11.4996,42.4,21.2,245,100,23.2,0.464,12.388

In [52]:
ysec3=sec3['result']
ysec3

38      1
39      1
40      1
41      1
42      1
       ..
1254    1
1255    1
1256    1
1257    1
1258    1
Name: result, Length: 262, dtype: int64

In [53]:
from sklearn.model_selection import GridSearchCV
import pandas as pd
scores = []

for model_name, mp in model_params.items():
    clf =  GridSearchCV(mp['model'], mp['params'], cv=5, return_train_score=False)
    clf.fit(xsec3, ysec3)
    scores.append({
        'model': model_name,
        'best_score': clf.best_score_,
        'best_params': clf.best_params_
    })
    
df = pd.DataFrame(scores,columns=['model','best_score','best_params'])
df

                     model  best_score                   best_params
0                      svm    1.000000  {'C': 1, 'kernel': 'linear'}
1            random_forest    0.996226           {'n_estimators': 1}
2      logistic_regression    0.996154                      {'C': 1}
3     naive_bayes_gaussian    0.988607                            {}
4  naive_bayes_multinomial    0.969303                            {}
5            decision_tree    0.988679         {'criterion': 'gini'}